.App h2 {
  text-align: center;
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: grey
}
.container ul{
  list-style-type: none;
}






@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



